html {
	margin: 0;
	padding: 0;
}
body {
	margin: 10px 0;
	padding: 0;
	font-size: 12px;
	text-align: center;
	background: #000;
}
a {
	color: #fff;
	font-size: 1.2em;
	font-style: italic;
	text-decoration: underline;
}
a:link, a:visited {
	font-weight: normal;
}
a:hover {
	font-weight: bold;
}
#header, #general, #objective, #skillareas, #history, #awards, #lastModified, #copyright {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
}
#header {
	background: url(ui/2/header.jpg);
	height: 318px;
	border-top: 10px solid #fff;
	border-bottom: 1px dashed #fff;
}
#header h1#title {
	color: #fff;
	font-size: 2.1em;
	margin: 0;
	padding: 10px 40px;
	background: url(ui/2/grid.gif);
	border-bottom: 1px dashed #fff;
}
#general {
	background: #000 url(ui/2/grid.gif);
	border-bottom: 1px solid #fff;
	padding: 10px 0;
}
#general .row {
	padding: 5px 20px;
}
#general .row #realname, #general .row #titlename, #general .row #birthday, #general .row #phone, #general .row #mobile, #general .row #email, #general .row #homepage, #general .row #im {
	float: left;
	width: 140px;
	color: #9f0;
	font-size: 1.15em;
	font-style: normal;
	font-weight: bold;
}
#general .row #realnameValue, #general .row #titleValue, #general .row #birthdayValue, #general .row #phoneValue, #general .row #mobileValue, #general .row #emailValue, #general .row #homepageValue, #general .row #imValue {
	color: #fff;
	text-decoration: underline;
}
#objective, #skillareas, #history {
	background: #000;
	border-bottom: 1px solid #fff;
}
#awards {
	background: #000;
	border-bottom: 10px solid #fff;
}
#objective h2, #skillareas h2, #history h2, #awards h2 {
	color: #fff;
	font-size: 1.4em;
	margin: 0;
	padding: 10px 20px;
	background: url(ui/2/grid.gif);
	border-bottom: 1px dashed #fff;
}
#objective p {
	padding: 0 0 20px 40px;
	color: #9f0;
	font-size: 1.2em;
	font-weight: bold;
}
#skillareas ol, #history ol, #awards ol {
	margin: 0;
	padding: 0 30px 20px;
	color: #9f0;
	list-style-type: upper-roman;
}
#skillareas ol li.skill, #history ol li.job, #awards ol li.award {
	margin: 0 40px;
	padding: 0;
}
#skillareas ol li.skill h3, #history ol li.job h3, #awards ol li.award h3 {
	font-size: 1.15em;
	margin: 0;
	padding: 10px 0;
}
#history ol li.job div.year, #awards ol li.award div.date {
	float: left;
	color: #fff;
	font-weight: bold;
	width: 140px;
}
#history ol li.job div.employer, #awards ol li.award div.organization {
	float: left;
	color: #fff;
}
#history ol li.job p.description, #awards ol li.award p.description {
	clear: both;
	color: #fff;
	margin: 0;
	padding: 5px 0 5px 140px;
	border-bottom: 1px dashed #666;
}
#skillareas ol li.skill ul.skillset {
	margin: 0;
	padding: 0;
	list-style-type: lower-alpha;
	border-bottom: 1px dashed #666;
}
#skillareas ol li.skill ul.skillset li {
	margin: 5px 40px;
	padding: 0;
	color: #fff;
}
#lastModified, #copyright {
	background: #000;
	padding-top: 10px;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
}
#copyright {
	padding-bottom: 10px;
	border-bottom: 10px solid #fff;
}
